<% provide(:title, "Help")%>

<h1>Help</h1>
<p>
    Get Help on Ruby on Rails at the
    <a href="http://www.Railstutorial.org/#help">Rails Help</a>.
    <br>To get help on The sample-app, see the  
    <a href=http://www.railstutorial.org/book><em>Rails tutorial book</em></a>
</p>
    